*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    --nav-height: 50px;
    padding-top: var(--nav-height);
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: 100%;
  }
  
  .nav{
    /* padding: 100px, 200px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #ededed;
    display: flex;
    justify-content: right;
    /* align-items: center; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .nav button{
    color: #7ee27e;
    text-decoration: none;
    margin: 0 1em;
    border: solid;
    border-color: #7ee27e;
    border-radius: 5px;
    padding: 3px 18px;
    display: inline-block;
    /* justify-self: right; */
    
    /* font-weight: bold; */
  }

  .nav a:hover{
    /* color: #ffffff; */
    font-weight: bold;
    transition: 0.4s;
    font-size: 17px;
    font-size-adjust: 5px;
  }

  .nav p{
    padding-top: 3px;
    left: 3%;
    /* border: solid; */
    position: fixed;
  }

  #content{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    
  }

  #myDiv{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    border-radius: 10px;
    border: solid;
    border-color: #9b9a9ab7;
    margin-bottom: 30px;
  }

  #myDiv h1{
    color: #0f0f0f;
    font-size: larger;
  }

  #myDiv p{
    color: #0f0f0f;
    font-size: small;
  }

  #myDiv a{
    font-size: small;
  }
